
body {
    background-color: gray;
}

header{
    text-align: center;
}

h1 {
    font-size: 48px;
    margin: 4px;
    padding: 20px;
    color: yellow;
    
}
article{
    border: 10px blue;
    border-style:dotted;
    border-radius: 20px;
    transition: all 500ms ease;
}
 article h2{
    margin-left: 2px;
    border: 2px white;
    border-style:solid;
    border-radius: 50px;
    text-align:center;
    transition: all 500ms ease;
    margin-bottom: 4px;
 }

 article:hover,
 article:hover h2 {
    box-shadow: 0 0 16px darkolivegreen;
 }
 h3{
    color:black;
    
 }
 p {
    color: azure;
    display: flex;
    justify-content: flex-end;
 }
section{
    display: flex;
    flex-wrap: wrap;
}
 article {
    width: calc(33.33% - 8px);
    padding: 20px;
    margin: 4px;
    border: 2px solid lightskyblue;
    height: 200px;

  }

  footer h2{
    text-align: center;
    margin-top: 8px;
  }

  @media screen and (max-width: 1160px) {
    article {
        width: calc(50% - 32px)
    }
  }

@media screen and (max-width: 768px) {
    article {
        width: calc(100% - 32px)
    }
}  


